<!-- ***************************
        Footer Area Start
     *************************** -->
     <footer class="footer_area section_padding footer_style_2 section_dark_bg">
        <img src="assets/images/testimonial-shape.png" class="triangle_shape footer_shape" alt="Shape">
        <img src="assets/images/testimonial-shape.png" class="triangle_shape_2 footer_shape_2" alt="Shape">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer_widget widget_with_logo">
                        <a href="index.html" class="footer_logo">
                            <!-- <img src="assets/images/footer-logo.png" alt="Footer Logo"> -->
                        </a>
                        <!-- <p>HoomPotact is committed to providing every home and family with innovative, dependable, and affordable home security solutions.</p> -->
                        <a href="#">Read More</a>
                    </div><!--end .footer_widget-->
                </div><!--end .col-md-4-->
                <div class="col-md-3 col-sm-6">
                    <div class="footer_widget address_widget">
                        <h3>Address</h3>
                        <ul class="address">
                            <li><i class="fa fa-phone-square"></i> 2222 888 9999</li>
                            <!-- <li><i class="fa fa-envelope"></i> needhelp@hoompotact.com</li> -->
                            <li><i class="fa fa-map"></i> 33 4th Street, Office 60, LA</li>
                        </ul>
                    </div><!--end .footer_widget-->
                </div><!--end .col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <div class="footer_widget company_widget">
                        <h3>Company</h3>
                        <div class="company_flex">
                            <ul class="quick_links">
                                <li><a href="#"><i class="fa fa-angle-right"></i> About Us</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Pricing</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Team</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Blog</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Contact Us</a></li>
                            </ul>
                            <ul class="quick_links">
                                <li><a href="#"><i class="fa fa-angle-right"></i> FAQs</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Support</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Privacy Policy</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Terms of Use</a></li>
                            </ul>
                        </div><!--end .company_flex-->
                    </div><!--end .footer_widget-->
                </div><!--end .col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <div class="footer_widget newsletter">
                        <h3>Subscribe</h3>
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="EMAIL" name="EMAIL" placeholder="Email address">
                                <button class="btn btn-default default_btn" type="submit">Sign Up Now</button>
                            </div><!--end .input-group-->
                        </form>
                    </div><!--end .footer_widget-->
                </div><!--end .col-md-3-->
            </div><!--end .row-->
        </div><!--end .container-->
        <div class="copyright_area copyright_style_2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <!-- <p>&copy; Copyright 2020 by <a href="#">Layerdrops.com</a></p> -->
                    </div><!--end .col-md-12-->
                    <div class="col-md-6 col-sm-6">
                        <ul class="social_link">
                            {% for item in site.data.footerNavigation %}
                            <li><a href="{{ item.link }}"><i class="{{ item.class }}"></i></a></li>
                            {% endfor %}
                        </ul>
                    </div><!--end .col-md-6-->
                </div><!--end .row-->
            </div><!--end .container-->
        </div><!--end .copyright_area-->
    </footer><!--end .footer_area-->
    <!-- ***************************
       Footer Area End
    *************************** -->