<div class="container">    
    <div class="row">
        <h1> Products </h1>
      {% for item in site.data.productsData %}
      <div class="col-sm-3">
        <div class="panel panel-primary">
            <a href="#"> <div class="panel-heading">{{ item.header }}</div>
                <div class="panel-body"><img src="{{ item.src }}" class="img-responsive" style="width:100%" alt="{{ item.alt }}"></div>
                <div class="panel-footer">{{ item.footer }}</div>
              </div></a>
         
      </div>
      {% endfor %}
    </div>
  </div><br>
  