<section class="installation_area section_padding section_dark_bg abcd">
    <!-- <img src="assets/images/testimonial-shape.png" class="triangle_shape installation_shape" alt="Shape"> -->
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 pr_0">
                <div class="installation_left">
                    <div class="hero_section_title mb_50">
                      
                        <h1>Professional Installation</h1>
                    </div><!--end .hero_section_title-->
                    <p>Our smart home professionals will help customize and professionally install your package without charging you any fee, because installation is totally free from company side.</p>
                    <a href="https://api.whatsapp.com/send?phone=919310161699&text=urlencodedtext" class="btn btn-default default_btn xyz">
        <i class="fa fa-whatsapp">&nbsp;</i><em>Request a free quote</em></a
        >
                    
                </div>
                <!--end .installation_left-->
            </div><!--end .col-md-6-->
        </div><!--end .row-->
    </div>
</section><!--end .installation_area-->